<div class="tooltip">
  <span class="material-icons-outlined hover small-icon">add_alert</span>
  <span class="tooltip-text">Remind me</span>
</div>
<div class="tooltip">
  <span class="material-icons-outlined hover small-icon">person_add</span>
  <span class="tooltip-text">Collaborator</span>
</div>
<div class="tooltip">
  <span class="material-icons-outlined hover small-icon">palette</span>
  <span class="tooltip-text">Change Color</span>
</div>
<div class="tooltip">
  <span class="material-icons-outlined hover small-icon">image</span>
  <span class="tooltip-text">Add Image</span>
</div>
<div class="tooltip" *ngIf="createArchive" >
  <span class="material-icons-outlined hover small-icon">archive</span>
  <span class="tooltip-text">Archive</span>
</div>
<div class="tooltip" *ngIf="!note.isArchived" (click)="archiveNote(note)">
  <span class="material-icons-outlined hover small-icon">archive</span>
  <span class="tooltip-text">Archive</span>
</div>
<div class="tooltip" *ngIf="note.isArchived" (click)="archiveNote(note)">
  <span class="material-icons-outlined hover small-icon">archive</span>
  <span class="tooltip-text">Unarchive</span>
</div>
<div class="tooltip" (click)="toggleDropdownMenu(note, $event)">
  <span class="material-icons-outlined hover small-icon">more_vert</span>
  <span class="tooltip-text">More</span>
</div>
<div class="tooltip-undo">
  <img src="./assets/images/svg/undo.svg">
</div>
<div class="tooltip-redo">
  <img src="./assets/images/svg/redo.svg">
</div>
