
<div class="no-notes" *ngIf="(archiveNotes$ | async)!.length < 1">
  <div class="note-image"><img src="./assets/images/svg/archive.svg" alt="archive" class="pic"></div>
  <div>
    <span class="text">Your archived notes appear here</span>
  </div>
</div>

<div class="notes-container">
  <app-note-template
    [isArchiveNote]="true"
  ></app-note-template>
</div>



<!--  <div *ngFor="let archiveNotes of archiveNotes">-->
<!--    <div *ngIf="archiveNotes.isArchived" class="note">-->
<!--      <span class="material-icons check-circle">check_circle</span>-->
<!--      <div class="title">{{archiveNotes.noteTitle}}</div>-->
<!--      <div class="noteText">{{archiveNotes.noteText}}</div>-->
<!--      <div class="note-footer">-->
<!--        <div class="tooltip">-->
<!--          <span class="material-icons-outlined hover small-icon">add_alert</span>-->
<!--          <span class="tooltip-text">Remind me</span>-->
<!--        </div>-->
<!--        <div class="tooltip">-->
<!--          <span class="material-icons-outlined hover small-icon">person_add</span>-->
<!--          <span class="tooltip-text">Collaborator</span>-->
<!--        </div>-->
<!--        <div class="tooltip">-->
<!--          <span class="material-icons-outlined hover small-icon">palette</span>-->
<!--          <span class="tooltip-text">Change Color</span>-->
<!--        </div>-->
<!--        <div class="tooltip">-->
<!--          <span class="material-icons-outlined hover small-icon">image</span>-->
<!--          <span class="tooltip-text">Add Image</span>-->
<!--        </div>-->
<!--        <div class="tooltip" (click)="archiveNote(archiveNotes)">-->
<!--          <span class="material-icons-outlined hover small-icon">archive</span>-->
<!--          <span class="tooltip-text">Archive</span>-->
<!--        </div>-->
<!--        <div class="tooltip" (click)="toggleDropdownMenu(archiveNotes)">-->
<!--          <span class="material-icons-outlined hover small-icon">more_vert</span>-->
<!--          <span class="tooltip-text">More</span>-->
<!--        </div>-->
<!--        <div *ngIf="archiveNotes.showDropdownMenu" class="dropdown-menu" #dropdownMenu>-->
<!--          <div class="drop-els" (click)="deleteNote(archiveNotes)">Delete Note</div>-->
<!--          <div class="drop-els" (click)="addLabel(archiveNotes)">Add label</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
