<div class="noteBody">
  <section *ngIf="notes.length < 1">
    <div class="no-notes">
      <div class="note-image"><img src="./assets/images/svg/lamp.svg" alt="lamp" class="pic"></div>
      <div>
        <span class="text">Notes you add appear here</span>
      </div>
    </div>
  </section>

  <div class="notes-container">

    <div *ngFor="let note of notes">
      <div *ngIf="!note.isArchived" #noteElement class="note" (click)="onNoteSelected(note)" [hidden]="note.display">
        <span class="material-icons check-circle">check_circle</span>
        <div class="title">{{note.noteTitle}}</div>
        <div class="noteText">{{note.noteText}}</div>
        <div class="note-footer">
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">add_alert</span>
            <span class="tooltip-text">Remind me</span>
          </div>
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">person_add</span>
            <span class="tooltip-text">Collaborator</span>
          </div>
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">palette</span>
            <span class="tooltip-text">Change Color</span>
          </div>
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">image</span>
            <span class="tooltip-text">Add Image</span>
          </div>
          <div class="tooltip" (click)="archiveNote(note)">
            <span class="material-icons-outlined hover small-icon">archive</span>
            <span class="tooltip-text">Archive</span>
          </div>
          <div class="tooltip" (click)="toggleDropdownMenu(note, $event)">
            <span class="material-icons-outlined hover small-icon">more_vert</span>
            <span class="tooltip-text">More</span>
          </div>
          <div *ngIf="note.showDropdownMenu" class="dropdown-menu">
            <div class="drop-els" (click)="deleteNote(note)">Delete Note</div>
            <div class="drop-els" (click)="addLabel(note)">Add label</div>
          </div>
        </div>
      </div>
    </div>

    <div #dropNote id="dropNote" *ngIf="selectedNote">
      <form class="drop-note" (ngSubmit)="updateNote(selectedNote)">
        <input type="text" class="note-title" name="noteTitle" placeholder="Title" [(ngModel)]="selectedNote.noteTitle">
        <input class="note-text" type="text" name="noteText" [(ngModel)]="selectedNote.noteText">
        <div class="form-actions">
          <div class="icons">
            <div class="tooltip" (click)="archiveNote(selectedNote)">
              <span class="material-icons-outlined hover small-icon">unArchive</span>
              <span class="tooltip-text">Archive</span>
            </div>
            <div class="tooltip" (click)="toggleDropdownMenu(selectedNote,$event)">
              <span class="material-icons-outlined hover small-icon">more_vert</span>
              <span class="tooltip-text">More</span>
            </div>

          </div>
          <div *ngIf="selectedNote.showDropdownMenu" class="dropdownSelected">
            <div class="drop-els-selected" (click)="deleteNote(selectedNote)">Delete Note</div>
            <!--            <div class="drop-els-selected" (click)="addLabel(selectedNote)">Add label</div>-->
          </div>
          <button class="close-btn" type="submit">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>
