<div class="label-container">
  <form class="drop-note">
    <textarea (keydown)="moveFocusToNoteText($event)" (input)="adjustTitleAreaHeight($event)" maxlength="1000"
              type="text" class="note-title" name="noteTitle" placeholder="Title" [(ngModel)]="selectedNote.noteTitle"
              autocomplete="off"></textarea>
    <textarea (input)="adjustTextareaHeight($event)" class="note-text" type="text" name="noteText" [(ngModel)]="selectedNote.noteText"
              autocomplete="off"></textarea>
    <app-note-label-tag [slice]="false" [note]="selectedNote" [showAdditionalLabels]="false"></app-note-label-tag>
    <div class="form-actions" [ngClass]="{'form-actions-without-label': selectedNote.labels.length === 0}">
      <div class="icons">
        <app-note-footer [undoRedoButtons]="true" [note]="selectedNote" [createArchive]="false"
                         (archiveEvent)="closeDialog()" style="display: flex;"></app-note-footer>
      </div>
      <button class="close-btn" type="submit" (click)="updateNote(selectedNote)">Close</button>
    </div>
  </form>
  <div *ngIf="selectedNote.showDropdownMenu" class="dropdown-menu"
       [ngClass]="{'dropdown-menu-label': selectedNote.labels.length >= 1}">
    <div class="drop-els" (click)="deleteNote(selectedNote)">Delete Note</div>
    <div class="drop-els" *ngIf="selectedNote.labels.length < 1" (click)="toggleLabelMenu(selectedNote, $event)">Add
      label
    </div>
    <div class="drop-els" *ngIf="selectedNote.labels.length >= 1" (click)="toggleLabelMenu(selectedNote, $event)">
      Change
      Label
    </div>
  </div>
  <app-label-menu [note]="selectedNote" [searchLabelText]="labelTitle"
                  [DialogBoxOpen]="true"></app-label-menu>
</div>
