<div class="label-flex" (click)="stopPropagation($event)">
  <div *ngFor="let label of (slice ? note.labels.slice(0, 2) : note.labels)" class="label"
       (mouseenter)="onMouseEnter(label)"
       (mouseleave)="onMouseLeave(label)">
    <div class="label-content">
      {{ label.labelTitle }}
      <div class="tooltip cancel-tooltip" *ngIf="label.showCancel">
        <img class="cancel-icon" src="./assets/images/svg/cancel.svg" alt="cancel icon"
             (click)="associateLabelWithNote(label, note)">
        <span class="tooltip-text">Remove label</span>
      </div>
    </div>
  </div>
  <div *ngIf="shouldShowAdditionalLabels(note) && showAdditionalLabels" class="label">
    <div class="note-label" *ngIf="note.labels.length === 3">{{note.labels[2].labelTitle}}</div>
    <div class="note-label-more" *ngIf="note.labels.length > 3">+{{note.labels.length - 2}}</div>
  </div>
</div>
